.navbar {
  padding: 15px 130px;
}

video {
  width: 100%;
}

label,
.btn,
.navbar-brand {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .navbar {
    padding: 20px;
  }
}